*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 50px;
    width: 150px;
    background-color: aqua;
    border: 1px solid black;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.container{
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 350px;
    background-color: rgb(107, 128, 0);
    gap: 10px;
    justify-items: space-evenly;
}

.item{
    background-color: rgb(75, 128, 0);
    height: 50px;
}

